[submodule "usermanagement"]
	path = usermanagement
	url = git@github.com:o0alvin0o/usermanagement.git
[submodule "customerservice"]
	path = customerservice
	url = git@github.com:o0alvin0o/customerservice.git
